[user]
    name = Patricia Gao
    email = pgaoaladro@gmail.com
[github]
    user = patriciagao
[core]
  editor = vim
[color]
  ui = auto
[alias]
  aa = add --all
  ca = commit --amend
  ci = commit -v
  co = checkout
  st = status

# Boxen stuff
[hub]
protocol = https

[credential]

[core]
excludesfile = /opt/boxen/config/git/gitignore
[filter "media"]
	clean = git media clean %f
	smudge = git media smudge %f
	required = true
