[user]
    name = Patricia Gao
    email = pgaoaladro@gmail.com
[github]
    user = patriciagao
[core]
  editor = vim
[color]
  ui = auto
[alias]
  aa = add --all
  ca = commit --amend
  ci = commit -v
  co = checkout
  st = status

# Boxen stuff
[hub]
protocol = https

[credential]
helper = /opt/boxen/bin/boxen-git-credential

[core]
excludesfile = /opt/boxen/config/git/gitignore
